/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.layout-container{
  margin-left: 2rem;
  margin-right: 2rem;
}

th.centered{
  text-align: center;
}

td.dl-0{
  padding-left: 0.75rem;
}

td.dl-1{
  padding-left: 2.75rem;
}

td.dl-2{
  padding-left: 4.75rem;
}

td.dl-3{
  padding-left: 6.75rem;
}

td.dl-4{
  padding-left: 8.75rem;
}

td.dl-5{
  padding-left: 10.75rem;
}

td.dl-6{
  padding-left: 12.75rem;
}

td.dl-7{
  padding-left: 14.75rem;
}

td.dl-8{
  padding-left: 16.75rem;
}

td.dl-9{
  padding-left: 18.75rem;
}

td.dl-10{
  padding-left: 20.75rem;
}

td.value{
  text-align: right;
}

tr.container{
  cursor: pointer;
}


.statementHeader{
  display: flex;
  align-items: center;
}

.periodType{
  margin-left: auto;
}

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-x: auto;
}

.content-charts canvas{
  max-width: 100%;
}

@media screen and (max-width: 1500px){
  .content{
    grid-template-columns: 1fr;
  }
}

.companyHeader{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
}

.companyName{
  grid-column: 1/2;
  grid-row: 1/2;
}

.companyUrl{
  grid-column: 1/2;
  grid-row: 2/-1;
}

.companyLogo{
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.companyContent{
  display: flex;
}

.newsImage{
  margin-right: 1rem;
  max-width: 128px;
  max-height: 128px;
  margin-bottom: 1rem;
}

tr.up{
  background-color: rgb(0, 100, 0);
}

tr.down{
  background-color: rgb(100, 0, 0);
}

.companyInfo{
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  gap: 1rem;
}

.companyInfo canvas{
  max-width: 100%;
  max-height: 100%;
}


.mainRatiosContainer{
  grid-row: 1/2;
  grid-column: 1/2;
}

.tradingViewContainer{
  grid-row: 1/2;
  grid-column: 2/-1;
}

.upgradeDowngradeContainer{
  grid-row:2/3;
  grid-column: 1/2;
}

.recommendationsContainer{
  grid-row:2/3;
  grid-column: 2/3;
}

.priceTragetsContainer{
  grid-row:2/3;
  grid-column: 3/-1;
}

table > caption{
  caption-side: top;
}

.sharesAggregatedContainer{
  /* max-width: 900px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sharesAggregatedBasic{
  grid-row: 1/2;
  grid-column: 1/2;
}

.sharesAggregatedBasicChanges{
  grid-row: 2/3;
  grid-column: 1/2;
}

.sharesAggregatedDiluted{
  grid-row: 1/2;
  grid-column: 2/3;
}

.sharesAggregatedDilutedChanges{
  grid-row: 2/3;
  grid-column: 2/3;
}

.sharesAggregatedContainer canvas{
  max-width: 100%;
  /* max-height: 100%; */
}

/* .sharesAggregatedContainer canvas{
  max-width: 100%;
  max-height: 100%;
} */

.companyItem{
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.comparingCotnainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}